<!doctype html>

<h2> {{ photo['caption'] }} </h2>
<img src="photos/{{ photo['photo_id'] }}" style="width:80%; height:80%"/>

<h3> {{ photo['num_likes'] }} Users liked this photo </h3>
{% for user in liked_users %}
	{{ user }}<br>
{% endfor %}

<h3> {{ photo['num_comments'] }} comments on photo </h3>
{% for comment in comments %}
	Comment by {{ comment['fname'] }} on {{ comment['comment_date'] }}: {{ comment['comment_text'] }} <br>
{% endfor %}
<br><br>
{% if params['source_photos'] == "show_photos_of_album" %}
	<a href="{{ url_for('show_photos_of_album', user_id = params['user_id'], page_id = params['page_id'], album_id = params['album_id'], source = params['source']) }}">Back</a>
{% elif params['source_photos'] == "show_photos_of_tag" %}
	<a href="{{ url_for('show_photos_of_tag', user_id = params['user_id'], page_id = params['page_id'], tag_name = params['tag_name'], tag_id = params['tag_id'], source = params['source']) }}">Back</a>
{% elif params['source_photos'] == "browse_search_photos" %}
	<form method="post" action="/browse_search_photos">
		<input type="text" name="tags_to_search" value="{{ params['tag_names'] }}" hidden="true">
		<input type="submit" name="submit" value="Back" />
		<input type="text" name="uid" value="{{ params['user_id'] }}" hidden="true">
		<input type="text" name="page_id" value="{{ params['page_id'] }}" hidden="true">
		<input type="text" name="params" value="{{ params }}" hidden="true">
	</form>
{% elif params['source_photos'] == "show_photos_of_user" %}
	<a href="{{ url_for('show_photos_of_user', owner_id = params['owner_id'], uid = params['user_id'], page_id = params['page_id'], source = 'show_top_users') }}">Back</a>
{% elif params['source_photos'] == "show_comments_by_user" %}
	<a href="{{ url_for('show_comments_by_user', owner_id = params['owner_id'], uid = params['user_id'], page_id = params['page_id'], source = 'show_top_users') }}">Back</a>
{% elif params['source_photos'] == "show_photos_user_may_like" %}
		<a href="{{ url_for('show_photos_user_may_like', uid = params['user_id'], page_id = params['page_id']) }}">Back</a>
{% else %}
	<a href="{{ url_for('browse_show_photos', uid = params['user_id'], page_id = params['page_id']) }}">Back</a>
{% endif %}
